<p>Sports Page</p>
<!--<p>-->
<!--  <button shareButton="facebook"-->
<!--          url="https://developer.mozilla.org/en-US/docs/Glossary/Deep_copy">-->
<!--    Share on Facebook (Deep Copy)-->
<!--  </button>-->
<!--</p>-->

<!--<p>-->
<!--  <button shareButton="facebook"-->
<!--          url="https://medium.com/@mgechev">-->
<!--    Share on Facebook (Mincho's Medium)-->
<!--  </button>-->
<!--</p>-->

<!--<p>-->
<!--  <button shareButton="facebook"-->
<!--          url="https://incdev.xpertsolvers.com/news-details/173/a-valencia-pi%C3%B9-di-200-morti,-incerto-il-numero-dei-dispersi.-allarme-rosso-in-andalusia">-->
<!--    Share on Facebook (A Valencia più di 200 morti)-->
<!--  </button>-->
<!--</p>-->

<!--<p>-->
<!--  <button shareButton="facebook"-->
<!--          url="https://angular-router-playground.netlify.app/home">-->
<!--    Share on Facebook (Explore Angular Router)-->
<!--  </button>-->
<!--</p>-->


<p>
  <button shareButton="facebook" url="https://85a7-103-111-165-26.ngrok-free.app/sports">
    Share on Facebook (Sports Page)
  </button>
</p>

<!--<p><button (click)="updateMetatags()">Update Metatags</button></p>-->
