<!--Custom element's share button throwing a error, using directive approach instead-->
<!--<share-button button="facebook" text="Share" showText>-->

<!--Thoughts:-->
<!--1. It doesn't seem to scrap host projects index.html's default metatags at all, instead it is taking destination website's metatags-->


<p><a routerLink="/home" routerLinkActive="active">Home</a></p>
<p><a routerLink="/news" routerLinkActive="active">News</a></p>
<p><a routerLink="/news/12" routerLinkActive="active">News Detail</a></p>
<p><a routerLink="/sports" routerLinkActive="active">Sports</a></p>
<p><a routerLink="/economics" routerLinkActive="active">Economics</a></p>

<router-outlet></router-outlet>
