<!--Custom element's share button throwing a error, using directive approach instead-->
<!--<share-button button="facebook" text="Share" showText>-->

<!--Issues:-->
<!--1. It doesn't seem to scrap index.html's default metatag at all, instead it is taking destination websites's metatags-->

<p>
  <button shareButton="facebook"
          url="https://developer.mozilla.org/en-US/docs/Glossary/Deep_copy"

  >
    Share on Facebook (Deep Copy)
  </button>
</p>

<p>
  <button shareButton="facebook"
          url="https://medium.com/@mgechev"
         >
    Share on Facebook (Mincho's Medium)
  </button>
</p>




